{% extends "underground_crm/base.html" %}
{% load i18n %}

{% block title %}
{% if process == "connect" %}{% blocktrans with name=provider.name %}Connect {{ name }}{% endblocktrans %}{% else %}{% blocktrans with name=provider.name %}Sign in via {{ name }}{% endblocktrans %}{% endif %}
{% endblock %}

{% block page_body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="form bg-aquamarine-transparent rounded px-3 py-4 mx-1 mt-4">
        {% include "socialaccount/_login.html" with h2_class="h-underline h-pink h-underline-animate" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
